<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Weather App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 style="text-align: center">Weather Dashboard</h1>

<form th:object="${location}" method="post">
    <p><label>
        Search:<input type="text" placeholder="City or ZIP Code" th:field="*{name}"/>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </label></p>
</form>
    <p th:action="@{/}" th:object="${location}" method="post">

    <div>
        <span th:text="${locationName ?: ''} + ${state ?: ''} + ${country ?: ''}"></span>
    </div>

    <h4>Current Weather</h4>
    <div th:if="${weather.current.temperature_2m != 0.00}">
        <p th:text="'Temperature: ' + ${weather.current.temperature_2m}" />
        <p th:text="'Feels like: ' + ${weather.current.apparent_temperature}" />

        <p th:text="'Weather Conditions: ' + ${MainService.convertWXCode(weather.current.weather_code)}" />
        <p th:text="'Precipitation: ' + ${weather.current.precipitation}"/>
        <p th:text="'Humidity: ' + ${weather.current.relative_humidity_2m}"/>
        <p th:text="'Rain: ' + ${weather.current.rain}" />
        <p th:text="'Shower: ' + ${weather.current.showers}" />
        <p th:text="'Snowfall: ' + ${weather.current.snowfall}" />
        <p th:text="'Cloud Coverage: ' + ${weather.current.cloud_cover}" />
    </div>

    <h4>7-Day Forecast</h4>
        <div class="7-Day-Forecast" th:each="day : ${#numbers.sequence(0, weather.daily.time.size() -1)}"
                    th:if="${MainService.convertDateFormat(weather.daily.time[day]) != 'Jan 01'}">
            <span class="Daily-DateTime" th:text="${MainService.convertDateFormat(weather.daily.time[day])}"></span>
            <span class="Daily-Wx-Code" th:text="${MainService.convertWXCode(weather.daily.weather_code[day])}"></span>
            <span class="Daily-Min-Temp" th:text="${weather.daily.temperature_2m_min[day]}"></span>
            <span class="Daily-Max-Temp" th:text="${weather.daily.temperature_2m_max[day]}"></span>
        </div>

    <h4>Hourly Forecast</h4>
        <div class="hourly-data" th:each="hour : ${#numbers.sequence(0, weather.hourly.temperature_2m.size() -145)}"
                                    th:if="${MainService.convertWXCode(weather.hourly.weather_code[hour]) != 0 and weather.hourly.temperature_2m[hour] != 0.00}"><!--Loops through Hourly Classes x24 times for the 24 hours-->

            <span class="hourly-time" th:text="${weather.hourly.temperature_2m[hour]}"></span>
            <span class="hourly-forecast" th:text="${MainService.convertWXCode(weather.hourly.weather_code[hour])}"></span>
        </div>
</body>
</html>