<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Weather App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 style="text-align: center">Weather Dashboard</h1>
<p>Enter location:</p>

<form action="#" th:action="@{/}" th:object="${location}" method="post">
    <p><label>
        City or Zip:
        <input type="text" th:field="*{name}"/>
    </label></p>
    <p>
        <input type="submit" value="Submit" /> <input type="reset" value="Clear Search" />
    </p>
</form>
    <h4 th:action="@{/}" th:object="${weatherData}" method="post">Results</h4>
    <p th:text="'City: ' + ${location.name ?: ''}" />

    <h4>Current Weather</h4>
    <p th:text="'Temperature: ' + ${CurrentTemp ?: ''} + ${CurrentTempUnit ?: ''}" />
    <p th:text="'Precipitation: ' + ${CurrentPrecipitation ?: ''} + ' ' + ${CurrentPrecipUnit ?: ''}"/>
    <p th:text="'Rain: ' + ${CurrentRain ?: ''} + ' ' + ${CurrRainUnit ?: ''}" />
    <p th:text="'Shower: ' + ${CurrentShowers ?: ''} + ' ' + ${CurrShowersUnit ?: ''}" />
    <p th:text="'Snowfall: ' + ${CurrentSnowfall ?: ''} + ' ' + ${CurrSnowfallUnit ?: ''}" />
    <p th:text="'Cloud Coverage: ' + ${CurrentCloudCover ?: ''} + ${CurrentCloudCoverUnit ?: ''}" />

    <h4>7-Day Forecast</h4>
    <p th:text="'Date: ' + ${date0 ?: ''} + ' ' + ${wxCode0 ?: ''}"/>
    <p th:text="'Date: ' + ${date1 ?: ''} + ' ' + ${wxCode1 ?: ''}"/>
    <p th:text="'Date: ' + ${date2 ?: ''} + ' ' + ${wxCode2 ?: ''}"/>
    <p th:text="'Date: ' + ${date3 ?: ''} + ' ' + ${wxCode3 ?: ''}"/>
    <p th:text="'Date: ' + ${date4 ?: ''} + ' ' + ${wxCode4 ?: ''}"/>
    <p th:text="'Date: ' + ${date5 ?: ''} + ' ' + ${wxCode5 ?: ''}"/>
    <p th:text="'Date: ' + ${date6 ?: ''} + ' ' + ${wxCode6 ?: ''}"/>

</body>
</html>